#nav {
    width: 100%;
    /* background-color: rgba(128, 128, 128, 0.377); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:fit-content;

}
#nav{
    background-image: url("../../../public/assets/images/FrontPage3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: difference;
    
}
.navigationButton a{
    text-decoration: none;
    color:white;
}


#leftNavDiv {
    display: flex;
    align-items: center;
}


.IconNav {
    height: 70px;
    width: 70px;
}

#logoNav {
    height: 100%;
    width:100%;
}

.IconTitle {
    font-weight: bold;
    color: white;
}

#rightNavDiv div {
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    font-weight: bolder;
    /* color: white; */
}

@media screen and (min-width:600px) {
    #rightNavDiv {
        width: 500px;
        display: flex;
        justify-content: space-around;
    }
    .cross{
        /* position: fixed; */
        display: none;
        
    }
}

.navigationButton {
    color: white;
    background-color: rgb(45, 44, 46);
}

.navigationButton:hover {
    cursor: pointer;
    background-color: rgb(97, 95, 98);
    padding: 5px 0px 5px 0px;
}

#rightDrawer {
    color: red;
    position: fixed;
    background-color: blue;
    height: 100%;
}

#navButton {
    display: none;
}


/* adding responsive ness */

@media screen and (max-width:600px) {
    .cross{
        /* position: fixed; */
        display: block;
        color:black;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    #rightNavDiv {
        /* display:block; */
        
        position: fixed;
        height: 100vh;
        flex: none;
        right:0;
        top:0;
        background-color: aliceblue;
    }
    .rightNavDivclass{
        display: none;
    }
    .rightNavDivDrawar{
        display: block;
    }
    



    #rightNavDiv div {
        border-radius:0%;
        margin:20px;
        display: block;

    }
/* .navigationButton{margin:20px;} */
   
    .ham{width:20px;height: 20px;}
    #navButton div img{width:100%;height:100%;}

    #navButton{display: block;margin:20px;}
}