.frontBody{
    height: 100vh;
    
}
.front-nav{
    background-image: url("../../public/assets/images/FrontPage3.jpeg");
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.navPlusfrontPage{
    font-family: sans-serif;
    
}
.joinUs{
    text-align:center;
    width:100%;
}
.joinUsButton{
    text-align: center;
    margin:auto;
    width:150px;
    padding:20px;
    border-radius: 10px;
    background-color: rgb(254 254 255);
}
.joinUsButton:hover{
    background-color: rgb(60, 114, 240);
}
.line{width:50%;background-color: rgb(71, 70, 70);height:1px;margin:auto;}
.LocationPage{
    background-color: #4794ddba;
    margin-top:10px;    
}